/* Fonts */
@font-face {
    font-family: digital-7;
    src: url("digital-7.ttf");
}


.content {
    margin: 10% auto;
    width: 455px;
    height: 450px;
    background-color: #403f3f;
    border-radius: 5px;
    border: 1px solid #4d4c4c;
    box-shadow: 0px 18px 0px #343232;
}

.lcd{
    padding: 25px 10px;
}

.display {
    margin: auto;
    padding: 0 10px;
    text-align: right;
    direction: rtl;
    width: 380px;
    height: 71px;

    color: rgba(0,0,0,.6);
    background-color: #e4e2c2;

    font-family: digital-7;
    font-size: 50px;
    font-weight: 600;
    box-sizing: content-box;
    border-radius: 5px;
    border: 2px solid #676565;
    box-shadow: inset -4px 6px 3px rgba(0,0,0,.1);
    overflow: hidden;
    text-shadow: -4px 4px 0px rgba(0, 0, 0, .1);
}

.memory {
  display: none;
  font-size: 15px;
  position: absolute;
  margin: 5px 5px;
}

.digits {
  display: inline-block;
  margin-right: 25px;
  unicode-bidi: plaintext;

}

.function {
  position: absolute;
  width: 20px;
  margin-top: 5px;
  font-size: 40px;


}



.buttons{
    text-align: center;
}

.column {
    display: inline-block;
    height: 300px;
    vertical-align: top;
    margin: 10px 5px;
}

.col-1 {
     width: 15%;
}

.col-2 {
    width: 45%;
}

.col-3 {
    width: 30%;
}

button {
    box-sizing: content-box;
    color: white;
    background-color: #adadad;
    border:none;
    font-family: Aldrich;
    font-size: 19px;
    display: inline-block;
    padding: 0;
    width: 45px;
    height: 40px;
    margin: 7px 5px;
    text-align: top;
    border: 1px solid grey;
    border-radius: 2px;
    box-shadow: 0px 4px 0 rgb(150,150,150);

}

button::selection {
  background: rgba(0,0,0,0);
}


.altFont{

}

button:active {
    position: relative;
    top: 3px;
    box-shadow: 0px 1px 0 rgb(150,150,150);
}

button:focus {
    outline: none;
}

.orange {
    background-color: #cc7a00;
    border-color: #804d00;
    box-shadow: 0px 4px 0 #995c00;

}

.orange:active {
    box-shadow: 0px 1px 0 #995c00;

}

.black {
    background-color: #676565;
    border-color: #4d4c4c;
    box-shadow: 0px 4px 0 rgb(90,90,90);
}

.black:active {
    box-shadow: 0px 1px 0 rgb(90,90,90);
}

.top-btn{
    height: 25px;
    margin-bottom: 15px;

}

hr {
  border-width: 2px;
  margin: auto;
  width: 80%;
}

.big-btn {
    height: 100px;

}

.zero-btn {
    width: 106px;
}
