body{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  display: block;
  border-bottom: 1px solid black;
  padding: 20px 0;
  margin-bottom: 0;
  text-shadow: 2px 2px 4px #C7C7C7;
}
ul {
  display: block;
  background-color: #EFEFEF;
  border-radius: 10px;
  padding-left: 0;
  padding-bottom: 20px;
  text-align: center;
  border: 1px solid #C1C1C1;
}

li {
  display: block;
  list-style: none;
  background-color: #E4E4E4;
}

a {
  text-decoration: none;
  display: block;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 30px;
  border-bottom: 1px solid #C1C1C1;
  text-shadow: 2px 2px 4px #C7C7C7;
  width: 155px;
  height: 23px;
  color: rgba(100,100,100, 0.8);
  text-shadow: 1px 4px 6px #E4E4E4, 0 0 0 #000, 1px 4px 6px #E4E4E4;
}
a:visited {
  color: rgba(100,100,100, 0.8);
}

a:hover {
  color: rgba(0,0,200,.4);
  background-color: #DADADA;
}

a:active {
  background-color: #E4E4E4;
  background-clip: inherit;
  color: black;
  text-shadow: none;
}
