title {
  text-transform:lowercase;
}

html {
  height: 100%;
}

body {
  position: relative;
  text-align: center;
  font-size: 20px;
  background-color: #3A4C4C;
  min-height: 100%;
}



/* Themes */
.tomato {
  background-color: #EC1903;
  text-shadow: 3px -3px 1px rgba(0,0,0,.3),
               0px 0px 8px #EC1903;
}

.forest {
  background-color: #38BF00;
  text-shadow: 3px -3px 1px rgba(0,0,0,.3),
               0px 0px 8px #38BF00;
}

.sky {
  background-color: #50C9F7;
  text-shadow: 3px -3px 1px rgba(0,0,0,.3),
               0px 0px 8px #50C9F7;
}

.pink {
  background-color: #DA6D9F;
  text-shadow: 3px -3px 1px rgba(0,0,0,.3),
               0px 0px 8px #DA6D9F;
}

.clear {
  background-color: transparent;
  text-shadow: 3px -3px 1px rgba(0,0,0,.3),
               0px 0px 8px rgba(0,0,0, .1);
}

.content {
    margin-top: 10%;
    display: inline-block;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    padding-top: 0;
}
.flash {
    animation: flash 1s ease-out infinite;
}
@keyframes flash {
    0% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
}
.settings {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    background-color: #cccccc;
    width: 300px;
    border-left: 1px solid #737373;
    outline: 3px solid #b3b3b3;


}
.wrapper {
    padding: 0 40px;
}
.close {
    margin-top: 5px;
}
.settings-buttons {
    margin-top: 10px;
    text-align: left;
    width: 100%;
    color: black;
}
h2, h3 {
  display: inline-block;
    padding: 0;
    margin: 0;
}

.settings-title {
  position: relative;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #a9a9a9;
  text-align: center;
  border-bottom: 1px solid #808080;
  box-shadow: 0px 1px 0px #595959;
}

.close {
  position: absolute;
  top:0;
  left:10px;
}

.settings-buttons label {
    font-weight: normal;
    vertical-align: bottom;
    margin-right: 5px;

}
.settings-buttons>div {
    display: block;
    clear: both;
}

input[type=number] {
    appearance: textfield;
    width: 70px;
    text-align: center;
    float: right;
}

#workIntervals {

}
.settings-buttons hr {
    margin: 5px 0;
}

#updatedSettings {
  display: none;
  color: darkred;
  background-color: white;
  padding: 5px 5px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.warning {
  display: none;
  font-size: 20px;
  position: absolute;
  margin-top: 5px;
  width: 200px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid red;
  padding: 0 5px;
}


/*Clock CSS*/
.clock {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 320px;
  width: 320px;
  text-align: center;
  margin: auto;
  background: rgb(242,246,248); /* Old browsers */
  background: linear-gradient(45deg, rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%);
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 3px rgba(0,0,0,.5);
}




.clock-face {
  position: relative;
  display: flex;
  border-radius: 100%;
  height: 300px;
  width: 300px;
  box-shadow: inset 7px -5px 3px rgba(0,0,0,.5);
  border: 1px solid #cccccc;
  box-sizing: content-box;
}

.clock-glass {
  position: absolute;
  border-radius: 100%;
  border: 1px solid #cccccc;
  box-sizing: content-box;
  top: -1px;
  left: -1px;
  height: 300px;
  width: 300px;
  /*background: radial-gradient(ellipse at center, rgba(255,255,255,0) 44%,rgba(255,255,255,.6) 100%);*/
  background: radial-gradient(ellipse at center, rgba(255,255,255,0) 60%,rgba(255,255,255,1) 100%);
}

.clock-display {
  background: transparent;
  position: absolute;
  top: 143px;
  left: 5px;
  width: 100%;
  z-index: 50;
  font-size: 30px;
  font-family: Orbitron;
  font-weight: 500;
  text-align: center;

}

.clock-svg {
  position: absolute;
  height: 300px;
  width: 300px;
}

.clock-small-dash {
  fill: transparent;
  stroke: #655;
  stroke-width: 15;
  stroke-dashoffset: 1.5;
  stroke-dasharray: 1 20.7;
}

.clock-big-dash {
  fill: transparent;
  stroke: #666666;
  stroke-width: 25;
  stroke-dashoffset: 1.7;
  stroke-dasharray: 3 213.6;
}

.clock-hand {
  position: absolute;
  height:145px;
  width: 3px;
  top:149px;
  left: 148px;
  background-color: #d9d9d9;
  box-shadow: 1px 0px 2px rgba(0,0,0,.5);
  transform-origin: 50% 0%;
  transform: rotate(180deg);
}

.hand-animation{
  animation-name: clockit;
  animation-duration: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

@keyframes clockit {
  0% {transform: rotate(180deg);}
  100% {transform: rotate(540deg);}
}



.interval-type-div {
  position: absolute;
  top: 80px;
  left: 60px;
  color:#666666;
  text-shadow: none;
  font-family: Tahoma, Geneva, sans-serif;
}

.interval-type {
  position: absolute;
  margin: auto;
  background-color: white;
  border: 1px solid #666666;
  width: 50px;
  height: 25px;
  box-shadow: inset 0px 0px 3px rgba(0,0,0, .5);
  overflow: hidden;
  line-height: 22px;
  font-size: 16px;
}

.interval-count-div {
  position: absolute;
  top: 80px;
  left: 185px;
  color:#666666;
  text-shadow: none;
  font-family: Tahoma, Geneva, sans-serif;
}

.interval-count {
  position: absolute;
  margin: auto;
  background-color: white;
  border: 1px solid #666666;
  width: 50px;
  height: 25px;
  box-shadow: inset 0px 0px 3px rgba(0,0,0, .5);
  overflow: hidden;
  line-height: 25px;
  font-size: 16px;
}




.interval-type-scroll {
  animation: scroll 1s 1 linear;
}

@keyframes scroll{
  0% {line-height: 22px;}
  50% { line-height: 80px; }
  100% { line-height: 22px; }
}


/* Clock Button*/
.clock-buttons {
  position: absolute;
  width: 100%;
  top: 180px;
  left: 5px;
  text-align: center;
}

.cbtn {
  border: none;
  background-color: transparent;
  color: rgba(0,0,0, .3);
  font-size: 40px;
  z-index: 50;
}

.cbtn:focus {
  outline: none;
}

.cbtn:hover {
  color: rgba(50,50,50, .7);
}

.cbtn:active {
  text-shadow: 0px 0px 2px white;
}

.reset {
  text-align: center;
  margin: auto;
  display: block;
  font-family: Orbitron;
  font-size: 30px;
}

.settings-btn {
  position: absolute;
  top:2px;
  right: 2px;

}

.color-select-div {
  margin: 30px 0;
}

.theme-btn {
  border-radius: 100%;
  margin-left: 20px;
  margin-top: 10px;
  height: 80px;
  width: 80px;
  text-shadow: none;
}

.default {
  margin-bottom: 40px;
}
